.btn_primary {
  background-color: #191a23;
  padding: 20px 35px;
  color: white;
  font-size: 20px;
  border-radius: 14px;
  font-family: "Space Grotesk";
  border: none;
  margin-bottom: 0;
}
.btn-right{
  float: right;
}
.btn_secondary {
  background-color: transparent;
  padding: 20px 35px;
  color: #191a23;
  border: 1px solid #191a23;
  font-size: 20px;
  border-radius: 14px;
  font-family: "Space Grotesk";
}

.btn-last{
  width: 450px;
  background-color: #191a23;
  padding: 20px 35px;
  color: white;
  font-size: 20px;
  border-radius: 14px;
  font-family: "Space Grotesk";
  border: none;
  margin-bottom: 0;
}
.icon{
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flogo {
  animation-name: flogo;
  animation-duration: 5s;
  animation-iteration-count:inherit;
  animation-timing-function: ease

}
  @keyframes  flogo {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
    typing 3s ,
    cursor .1s;
    animation-iteration-count: infinite;
  }
  @keyframes cursor {
    50% {border-color: transparent;}
  }
  @keyframes typing {
    from {
      width:0;
    }
  }
