.btn_primary {
  background-color: #191a23;
  padding: 20px 35px;
  color: white;
  font-size: 20px;
  border-radius: 14px;
  font-family: "Space Grotesk";
  border: none;
  margin-bottom: 0;
}
.btn-right{
  float: right;
}
.btn_secondary {
  background-color: transparent;
  padding: 20px 35px;
  color: #191a23;
  border: 1px solid #191a23;
  font-size: 20px;
  border-radius: 14px;
  font-family: "Space Grotesk";
}

.btn-last{
  width: 450px;
  background-color: #191a23;
  padding: 20px 35px;
  color: white;
  font-size: 20px;
  border-radius: 14px;
  font-family: "Space Grotesk";
  border: none;
  margin-bottom: 0;
}
.icon{
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon span{
  font-size: 24px;
  font-weight: bold;
  color:#000;
}
.span{
  width:50px ;
  height: 50 px;
  background-color: #000;
  color: #b9ff66;
  border-radius: 8px;
}