.hXL {
  font-size: 60px;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hL {
  font-size: 40px;
}
.hM {
  font-size: 30px;
}
.pXL {
  font-size: 20px;
}
.pxl{
  font-size: 18px;
  color: white;
  text-decoration: underline;
}
.pL {
  font-size: 18px;
  
}
.font-bold {
  font-weight: bold;
}
.font-semibold {
  font-weight: 500;
}
.font-light {
  font-weight: lighter;
}
.text_box {
  padding: 6px;
  border-radius: 8px;
  width: fit-content;
  
}
.text_box, .pL, .btn_primary {
  display: block; 
  margin-bottom: 40px; 
}

.text-white {
  color: white;
}
.text-green{
  color: #b9ff66;
}
.numbers{
  width: 65px;
  height: 77px;
  font-size: 60px;
  font-weight: 500;
  line-height: 76.56px;
  color: black;
}

.prs-info{
  width: 450px;
  height: 50px;
  margin-top: 10px;
  border-color:black;
  border-radius: 14px;
}

textarea{
  width: 450px;
  height: 200px;
  margin-top: 10px;
  border-color:black;
  border-radius: 14px;
}
textarea::placeholder {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 15px;
  
}
input::placeholder {
  padding-left: 20px;
}
